/* General Style */

body {
    font-family: D-DINExp, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif !important;
}

#port {
    font-weight: bolder;
}

.active {
    color: #ec184d !important;
    font-weight: bolder;
}

.nav-link:hover {
    cursor: pointer !important;
    /* font-size: larger; */
    color: #ec184d !important;
}

.nav-link {
    font-size: 20px;
}

#Hangman {
    padding: 2px 0px 0px 0px;
    text-decoration: none;
    color: #ec184d;
}

#repo {
    padding: 2px 0px 0px 0px;
    text-decoration: none;
    color: #0D2D52;
    font-size: small;
}

#repo:hover {
    font-size: larger;
}

#Crystal {
    padding: 2px 0px 0px 0px;
    text-decoration: none;
    color: #ec184d;
}

#Trivia {
    padding: 2px 0px 0px 0px;
    text-decoration: none;
    color: #ec184d;
}

.card.mb-3 {
    margin: 50px 0px 50px 0px;
    margin-bottom: 1000px;
    box-shadow: 20px 20px 10px grey;
}

.card {
    margin: 20px 0px 50px 0px;
    margin-bottom: 1000px;
    box-shadow: 5px 5px 3px grey;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

h1 {
    color: #ec184d;
    text-shadow: 1px 1px grey;
    font-weight: bolder;
}


/* Portfolio Style */

#pcard {
    padding: 20px 40px 0px 40px;
}

#row2 {
    margin: 0px -15px 50px -15px;
}

.card-deck card {
    margin: -20px;
    box-shadow: none;
}

.card-img-overlay {
    margin: 70px 0px 0px 0px;
}

footer {
    margin-top: 100px;
    border-top: 5px solid #ec184d;
}