.card {
    margin: 50px;
    margin-bottom: 1000px;
    box-shadow: 20px 20px 10px grey;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}